body {
    margin: 0;
    font-family: monospace;

    background-color: white;
    color: black;
    
    --badge-bg: purple;
    --badge-fg: white;
    --link: purple;
}

header {
    padding-top: 1em;
    font-size: 32pt;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    padding: 2em;
    gap: 4em;
}

section > h1 {
    margin: 0;
    font-size: 24pt;
}

section > a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    color: inherit;
    font-size: 16pt;
}

section > a:hover,
section > a:focus {
    color: var(--link);
}

section > a > label {
    cursor: pointer;
}

section > a > img {
    width: 1.2em;
    height: 1.2em;
    object-fit: contain;
    border-radius: 4px;
}

section > a > cite {
    font-size: 0.5em;
    padding: 2px 4px;
    font-style: normal;
    background-color: var(--badge-bg);
    border-radius: 4px;
    color: var(--badge-fg);
}

.tool > label {
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: white;
        
        --badge-bg: rgb(155, 58, 155);
        --badge-fg: white;

        --link: rgb(155, 58, 155);
    }
}